[submodule "AI/Tubes1/Dots-and-Boxes"]
	path = AI/Tubes1/Dots-and-Boxes
	url = https://github.com/bryanbernigen/Dots-and-Boxes
[submodule "Jarkom/Tubes2/jarkom-jarkong"]
	path = Jarkom/Tubes2/jarkom-jarkong
	url = https://github.com/Sister19/jarkom-jarkong
[submodule "WBD/Tubes1/if-3110-2022-k-01-01-32"]
	path = WBD/Tubes1/if-3110-2022-k-01-01-32
	url = https://gitlab.informatika.org/if3110-2022-k01-01-32/if-3110-2022-k-01-01-32
[submodule "MBD/Tubes2/ConcurrencyControl"]
	path = MBD/Tubes2/ConcurrencyControl
	url = https://github.com/bryanbernigen/ConcurrencyControl
[submodule "WBD/Tubes2/NgNotify"]
	path = WBD/Tubes2/NgNotify
	url = https://github.com/bryanbernigen/NgNotify
[submodule "WBD/Tubes2/NgNotify-Premium"]
	path = WBD/Tubes2/NgNotify-Premium
	url = https://github.com/bryanbernigen/NgNotify-Premium
[submodule "WBD/Tubes2/NgNotify-REST"]
	path = WBD/Tubes2/NgNotify-REST
	url = https://github.com/bryanbernigen/NgNotify-REST
[submodule "WBD/Tubes2/NgNotify-SOAP"]
	path = WBD/Tubes2/NgNotify-SOAP
	url = https://github.com/bryanbernigen/NgNotify-SOAP
